body {
  background-color: #f6f6f6;
}

.sidenav {
  position: fixed;
  top: 0;
  height: 100%;
  width: 225px;

  .title {
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
    background-color: @color-brand;
    
    a {
      color: #fff;
    }
  }
  .main-nav {
    position: absolute;
    left: 0;
    top: 75px;
    bottom: 0;
    right: 0;
    background-color: #1f1f2a;

    li {
      margin-bottom: 10px;

      a {
        color: #888;
        display: block;
        font-size: 14px;
        padding: 12px 0 12px 30px;
        outline: none;
      }
      &.active {
        background-color: #2b2b38;

        a {
          color: #fff;
          border-left: 2px solid @color-brand;
          padding-left: 28px;
        }
      }
      .iconfont {
        font-size: 14px;
        margin-right: 8px;
      }
    }
  }
}

.content {
  color: #454545;
  margin-left: 225px;
}
.page-header {
  border-bottom: 1px solid #eee;
  padding: 0 30px;
  background-color: #fff;

  .title-bar {
    float: left;
    height: 75px;
    line-height: 75px;
  }
  .title {
    color:#333;
    display:inline-block;
    font-size:18px;
    margin-right:20px;
    font-weight:normal;
  }
  .userinfo {
    float: right;
    line-height: 75px;
    cursor: default;

    .iconfont {
      margin-right: 5px;
    }
  }
}
.page-body {
  padding: 30px;
}

.status-404 {
  width: 400px;
  margin: 80px auto;
}