<div class="block-switch-loading"></div>
<div class="sidenav" mx-view="app/views/common/sidenav"></div>
<div class="content">
  <div class="page-header clearfix">
    <div class="title-bar">
      <h2 class="title">{{title}}</h2>
    </div>
    <div class="userinfo">
      <span class="iconfont iconyonghuming"></span>
      <span>{{username}}</span>
    </div>
  </div>
  <div class="page-body">
    <div mx-view="{{mainView}}">
      <!-- <div class="block-loading"></div> -->
    </div>
  </div>
</div>