<div class="page-login">
  <div class="login-header">智慧消防后台登录</div>
  <div class="login-panel">
    <div class="tip tip-alert" t-if="error">{{error}}</div>
    <form id="loginForm">
      <ul class="union-form">
        <li class="field">
          <div class="field-label2">用户名：</div>
          <input type="text" class="input" name="username">
        </li>
        <li class="field">
          <div class="field-label2">密码：</div>
          <input type="password" class="input" name="password">
        </li>
        <li class="field">
          <a href="#" class="btn btn-brand btn-large" mx-click="submit()">登 录</a>
        </li>
      </ul>
    </form>
  </div>
</div>