<div class="page-bigscreen">
  <div class="map-container" id="mapContainer"></div>
      
  <div class="header">
    <div class="header-bg"></div>
    <div class="title"></div>
    <div class="search">
      <input class="input" type="text" placeholder="搜索联网单位名称" mx-keydown="search()">
      <span class="iconfont iconsousuo"></span>
    </div>
  </div>

  <div class="main">
    <div class="top-wrapper">
      <div class="top-left-wrapper">
        <div class="module weather">
          <div class="bevel-group">
            <div class="bevel bevel-top-left"></div>
            <div class="bevel bevel-top-right"></div>
            <div class="bevel bevel-bottom-left"></div>
            <div class="bevel bevel-bottom-right"></div>
          </div>
          <div class="content-wrapper">
            <div class="wea-img">
              <span class="iconfont {{weather.weaImg}}"></span>
            </div>
            <div class="row">
              <div class="tem">
                <span>{{weather.tem}}</span>
                <span class="symbol">℃</span>
              </div>
              <div class="wea">{{weather.wea}}</div>
            </div>
            <div class="row location">{{cityName}}</div>
            <div class="row">
              <div class="win">{{weather.win}}</div>
              <div class="humidity">空气湿度 {{weather.humidity}}</div>
            </div>
          </div>
        </div>
        <div class="module networking-total">
          <div class="headline">
            <div class="title">用户传输装置联网情况</div>
            <a href="/report/yongchuan" class="more">更多</a>
          </div>
          <div class="content-wrapper">
            <div class="chart-wrapper" id='ycNetworkingTotalChart'></div>
          </div>
          <div class="bevel-group">
            <div class="bevel bevel-top-left"></div>
            <div class="bevel bevel-top-right"></div>
            <div class="bevel bevel-bottom-left"></div>
            <div class="bevel bevel-bottom-right"></div>
          </div>
        </div>
      </div>
      <div class="top-middle-wrapper">
        <!-- <div class="total-count">
          <div class="label">各地区总检测点数：</div>
          <div class="value">
            {{jcdzs}}
          </div>
        </div> -->
        <div class="pointer-switcher">
          <div class="switch-btn" t-class:selected="switcher.type" mx-click="switchPoiner()">
            <span t-if="switcher.type==1">隐藏所有单位</span>
            <span t-if="switcher.type==0">显示所有单位</span>
          </div>
        </div>
      </div>
      <div class="top-right-wrapper">
        <div class="module misinformation-rate">
          <div class="headline">
            <div class="title">电气联网情况</div>
            <a href="/report/dian" class="more">更多</a>
          </div>
          <div class="content-wrapper">
            <div class="chart-wrapper" id='dianNetworkingTotalChart'></div>
          </div>
          <div class="bevel-group">
            <div class="bevel bevel-top-left"></div>
            <div class="bevel bevel-top-right"></div>
            <div class="bevel bevel-bottom-left"></div>
            <div class="bevel bevel-bottom-right"></div>
          </div>
        </div>
        <div class="module failure-rate">
          <div class="headline">
            <div class="title">电气七天报警分析</div>
            <a href="/report/dian" class="more">更多</a>
          </div>
          <div class="content-wrapper">
            <div class="chart-wrapper" id='dianAlarmCountChart'></div>
          </div>
          <div class="bevel-group">
            <div class="bevel bevel-top-left"></div>
            <div class="bevel bevel-top-right"></div>
            <div class="bevel bevel-bottom-left"></div>
            <div class="bevel bevel-bottom-right"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-wrapper">
      <div class="module">
        <div class="headline">
          <div class="title">误报率</div>
          <a href="/report/yongchuan" class="more">更多</a>
        </div>
        <div class="content-wrapper">
          <div class="chart-wrapper" id="falseAlarmChart"></div>
        </div>
        <div class="bevel-group">
          <div class="bevel bevel-top-left"></div>
          <div class="bevel bevel-top-right"></div>
          <div class="bevel bevel-bottom-left"></div>
          <div class="bevel bevel-bottom-right"></div>
        </div>
      </div>
      <div class="module">
        <div class="headline">
          <div class="title">故障率</div>
          <a href="/report/yongchuan" class="more">更多</a>
        </div>
        <div class="content-wrapper">
          <div class="chart-wrapper" id="breakdownChart"></div>
        </div>
        <div class="bevel-group">
          <div class="bevel bevel-top-left"></div>
          <div class="bevel bevel-top-right"></div>
          <div class="bevel bevel-bottom-left"></div>
          <div class="bevel bevel-bottom-right"></div>
        </div>
      </div>
      <div class="module">
        <div class="headline">
          <div class="title">误报单位排序</div>
          <a href="/report/yongchuan" class="more">更多</a>
        </div>
        <div class="content-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th>联网单位名称</th>
                <th width="100">故障率</th>
              </tr>
            </thead>
            <tbody>
              {{#for(item in breakdownUnitList)}}
              <tr>
                <td><a href="/system/jcxx/dwxx/getLwdwDetail.do?lwdw.dwid={{item.dwid}}" vclick-ignore="true" class="color-l" target="_blank">{{item.cym}}</a></td>
                <td>{{item.gzl}}%</td>
              </tr>
              {{/for}}
            </tbody>
          </table>
        </div>
        <div class="bevel-group">
          <div class="bevel bevel-top-left"></div>
          <div class="bevel bevel-top-right"></div>
          <div class="bevel bevel-bottom-left"></div>
          <div class="bevel bevel-bottom-right"></div>
        </div>
      </div>
      <div class="module">
        <div class="headline">
          <div class="title">故障单位排序</div>
          <a href="/report/yongchuan" class="more">更多</a>
        </div>
        <div class="content-wrapper">
          <table class="table">
            <thead>
              <tr>
                <th>联网单位名称</th>
                <th width="100">误报率</th>
              </tr>
            </thead>
            <tbody>
              {{#for(item in falseAlarmUnitList)}}
              <tr>
                <td><a href="/system/jcxx/dwxx/getLwdwDetail.do?lwdw.dwid={{item.dwid}}" vclick-ignore="true" class="color-l" target="_blank">{{item.cym}}</a></td>
                <td>{{item.wbl}}%</td>
              </tr>
              {{/for}}
            </tbody>
          </table>
        </div>
        <div class="bevel-group">
          <div class="bevel bevel-top-left"></div>
          <div class="bevel bevel-top-right"></div>
          <div class="bevel bevel-bottom-left"></div>
          <div class="bevel bevel-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
</div>